@tailwind base;
@tailwind components;
@tailwind utilities;

/*Definimos nuestros fondos de secciones de la APP*/
.fondo-img{
  background-image: url('https://i.postimg.cc/Z5MTqc52/christopher-gower-m-HRf-Lhg-ABo-unsplash.jpg');
}

.fondo-img2{
  background-image: url('https://i.postimg.cc/ydYYN1MY/fondo-2.jpg');
}

.fondo-img3{
  background-image: url('https://i.postimg.cc/kgwLvP31/wallpaperflare-com-wallpaper.jpg');
}

.fondo-img4{
  background-image: url('https://i.postimg.cc/c1236vvT/wallpaperflare-com-wallpaper-1.jpg');
}

.fondo-img5{
  background-image: url('https://i.postimg.cc/mkjgp948/wallpaperflare-com-wallpaper-2.jpg');
}

.fondo-img6{
  background-image: url('https://i.postimg.cc/sf5t63wF/fondo-1.jpg');
}

.fondo-img7{
  background-image: url('https://i.postimg.cc/sf5t63wF/fondo-1.jpg');
}


/* Color de Los Botones Principales de esta Web*/


.gif-1 {
  background-image: url(/animation_1.gif);
  background-size: cover;
}

.gif2 {
  background-image: url(/animation_1.gif);
  background-size: cover;
}



