@tailwind base;
@tailwind components;
@tailwind utilities;

.fondo-img{
  background-image: url('https://i.postimg.cc/Z5MTqc52/christopher-gower-m-HRf-Lhg-ABo-unsplash.jpg');
}

.fondo-img2{
  background-image: url('https://i.postimg.cc/ydYYN1MY/fondo-2.jpg');
}

.fondo-img3{
  background-image: url('https://i.postimg.cc/kgwLvP31/wallpaperflare-com-wallpaper.jpg');
}

.fondo-img4{
  background-image: url('https://i.postimg.cc/c1236vvT/wallpaperflare-com-wallpaper-1.jpg');
}

/* Color de Los Botones Principales de esta Web*/

.fondo-img5{
  background-image: url('https://i.postimg.cc/mkjgp948/wallpaperflare-com-wallpaper-2.jpg');
}

.fondo-img6{
  background-image: url('https://i.postimg.cc/N0nCvGtY/wallpaperflare-com-wallpaper-3.jpg');
}

.fondo-img7{
  background-image: url('https://i.postimg.cc/bvB3NK3x/fondo-final-9.png');
}

.fondo-img8{
  background-image: url('https://i.postimg.cc/4ymM1h4V/fondo-22.jpg');
}

.fondo-img9{
  background-image: url('https://i.postimg.cc/VkFTQGLX/fondo-10.jpg');
}

.fondo-img10{
  background-image: url('https://i.postimg.cc/pTK6yZMB/fondo-9.jpg');
}

.fondo-img11{
  background-image: url('https://i.postimg.cc/Mp8mtjNn/fondo-11.jpg');
}

.fondo-img12{
  background-image: url('https://i.postimg.cc/KjWkVC0G/fondo-11.jpg');
}



.gif-1 {
  background-image: url(/public/animation_1.gif);
  background-size: cover;
}

.gif2 {
  background-image: url(/public/animation_1.gif);
  background-size: cover;
}

/* Estilo personalizado para ocultar la barra de desplazamiento en dispositivos móviles */
@media (max-width: 640px) {
  .hiddenBar {
      overflow: hidden
  }
}

/* Diseño de Container Principales de Diseño.tsx*/
.diseñoContainer{
  @apply  w-[800px] h-[850px] bg-blue-500/80 rounded-lg shadow-lg border-2 shadow-blue-400/40
}
.diseñoContainer2{
  @apply  w-[450px] h-[850px] bg-[#F3F3F3] rounded-lg shadow-lg border-2 shadow-[#ED1FE8]/40
}



/* Diseño de Boton para Inicio.tsx y Presentacion.tsx*/

.miBoton{
  @apply hover:scale-110 hover:animate-pulse rounded-full hover:text-[#ED1FE8] border-4 border-white hover:border-[#ED1FE8] uppercase leading-normal transition duration-150 ease-in-out
}

/* Diseño para personalización de Sombras en Textos de Títulos de Letra Negra y Fondo Blanco*/

.textShadow{
  @apply drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.1)]
}

/*Lograr que no se vea el resaltado que se produce cuando un usuario selecciona texto en una página web */
.no-select {
  user-select: none;
}

/*  Para lograr un efecto de desenfoque en un div sin afectar el texto */
.blur-div {
  backdrop-filter: blur(4px); /* Ajusta el valor de desenfoque según tus preferencias */
}

.map-container {
  width: 50%;
  height: 50%;
  position: relative
}



