@tailwind base;
@tailwind components;
@tailwind utilities;

.fondo-img{
  background-image: url('https://i.postimg.cc/Z5MTqc52/christopher-gower-m-HRf-Lhg-ABo-unsplash.jpg');
}

.fondo-img2{
  background-image: url('https://i.postimg.cc/ydYYN1MY/fondo-2.jpg');
}

.fondo-img3{
  background-image: url('https://i.postimg.cc/kgwLvP31/wallpaperflare-com-wallpaper.jpg');
}

.fondo-img4{
  background-image: url('https://i.postimg.cc/c1236vvT/wallpaperflare-com-wallpaper-1.jpg');
}

/* Color de Los Botones Principales de esta Web*/

.fondo-img5{
  background-image: url('https://i.postimg.cc/mkjgp948/wallpaperflare-com-wallpaper-2.jpg');
}

.fondo-img6{
  background-image: url('https://i.postimg.cc/N0nCvGtY/wallpaperflare-com-wallpaper-3.jpg');
}

.fondo-img7{
  background-image: url('https://i.postimg.cc/sf5t63wF/fondo-1.jpg');
}

.fondo-img8{
  background-image: url('https://i.postimg.cc/4ymM1h4V/fondo-22.jpg');
}

.fondo-img9{
  background-image: url('https://i.postimg.cc/VkFTQGLX/fondo-10.jpg');
}

.fondo-img10{
  background-image: url('https://i.postimg.cc/pTK6yZMB/fondo-9.jpg');
}

.fondo-img11{
  background-image: url('https://i.postimg.cc/Mp8mtjNn/fondo-11.jpg');
}

.fondo-img12{
  background-image: url('https://i.postimg.cc/KjWkVC0G/fondo-11.jpg');
}









.gif-1 {
  background-image: url(/public/animation_1.gif);
  background-size: cover;
}

.gif2 {
  background-image: url(/public/animation_1.gif);
  background-size: cover;
}


